.sign-in {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
  margin: 100px auto;
}



.App {
  text-align: center;
}

.all-chars-container {
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;


}

.char {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}

.char-container {
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  margin: 10px;
  max-width: fit-content;
  min-width: 300px;
}

.image {
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center center;
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.navigation-box {
  display: flex;
  gap: 10px;
  margin-right: 50px;

}

.link {
  font-size: x-large;
  text-decoration: none;
  color: white;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.active {
  color: gold;
}

.char-info {
  display: flex;
  justify-content: space-between;
  color: white;
}

.char-page {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  align-items: center;
}


html {
  background: url(https://i.pinimg.com/originals/f2/7d/7e/f27d7ec85dedb8148919b237cd4ea3e8.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.char-read-more {
  align-self: center;
  border-radius: 10px;
  width: 30%;
  background-color: black;
  color: white;

  &:hover {
    cursor: pointer;
    color: gold;
    border-color: gold;
  }
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.button-all {
  border: 3px solid black;
  font-size: x-large;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

}

.button-unknown {
  border: 3px solid black;
  font-size: x-large;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

}

.button-alive {
  border: 3px solid black;
  font-size: x-large;
  background: rgba(30, 83, 23, 0.7);
  color: white;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

}

.button-dead {
  border: 3px solid black;
  font-size: x-large;
  background: rgba(134, 21, 21, 0.7);
  color: white;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

}

.rick-and-morty-page {
  background: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 100px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 50px;
}

.search-container {
  display: flex;
  gap: 15px;
  margin: 10px auto;
  width: fit-content;
}

.error-page {
  font-size: xx-large;
  color: white;
  margin: 50px auto;
  width: fit-content;
}

.smal {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;

}

.registre-se {
  color: rgb(230, 26, 162);
  font-weight: bold;
  &:hover{
    color: yellow;
  }
}